<!--
<h1>Hello!</h1>
<input [(ngModel)]="name" />
<p *ngIf="name; else noName" 
[ngClass]="{'redBg': name[0] === 'S' || name[0] === 's', 'blueBg': name.length > 3}">{{ name }}</p>
<ng-template #noName>
    <p>Add meg a neved!</p>
</ng-template>
<button [disabled]="!name" (click)="greeter()">Hello</button>
-->

<h1>Hello!</h1>
<input [(ngModel)]="name"/>
<p *ngIf="name; else noName" [ngStyle]="{'background-color': getBg(), 'color': getFontColor(), 'font-size': getSize()}">{{ name }}</p>
<ng-template #noName>
    <p>Add meg a neved!</p>
</ng-template>
<button [disabled]="!name" (click)="greeter()">Hello</button>
